---
import Layout from "../layouts/BlogPost.astro";
import finish from "../images/barca-finish.jpeg";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  heroImage={finish}
>
  <p>
    Running can spark joy. As you can clearly see from the photo here! It can be
    a gateway to meeting new people and new experiences. I've been a runner for
    over 10 years now. Over these 10 years, I've collected a wealth of
    experiences, overcome challenges, and learned valuable lessons along the
    way.
  </p>

  <p>
    This blog is my platform to inspire and connect with others by offering
    insights, stories, and reflections from my adventures. Whether you're
    seeking motivation, practical advice, or simply a fresh perspective, I hope
    my experiences resonate with you and perhaps even spark your own journey of
    growth and discovery.
  </p>

  <p>
    <span class="block font-bold mb-2">Team & Gear</span>
    <span class="font-bold">Club:</span> Garden City Runners
    <br /><span class="font-bold">Watch:</span> Garmin Forerunner 265
    <br /><span class="font-bold">Daily Trainers:</span> Nike Pegasus 38
    <br /><span class="font-bold">Race Trainers:</span> Nike Vaporfly 2
    <br /><span class="font-bold">Recovery Trainers:</span> ON Cloud Surfer 7
    <br /><span class="font-bold">Super Trainers:</span> Asics Magic Speed 3
  </p>

  <p>
    <span class="block font-bold mb-2">Personal Bests</span>
    <span class="font-bold">5KM:</span> 15:38
    <br /><span class="font-bold">10KM:</span> 32:58
    <br /><span class="font-bold">Half Marathon:</span> 1:10:14
    <br /><span class="font-bold">Marathon:</span> 2:29:50
    <br /><span class="font-bold">Longest Run:</span> 50KM
  </p>

  <p class="font-bold">Lace up. Run Happy. Crush Goals.</p>
</Layout>
