---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Input } from "@/components/ui/input";
import ContactForm from "@/components/contact.astro";
import { Textarea } from "@/components/ui/textarea";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-background min-h-screen flex flex-col">
    <div class="relative bg-background min-h-screen flex flex-col" id="header">
      <div class="z-20 sticky top-0 transition-all" id="header">
        <Header transparent />
      </div>
      <h1
        class="text-7xl md:text-8xl lg:text-9xl font-black tracking-tighter text-center mx-2"
      >
        <span>GET</span>
        <span>IN</span>
        <span>TOUCH</span>
      </h1>
      <main
        class="flex-1 w-[min(2000px,100%)] max-w-[calc(100%-2em)] mx-auto py-10 px-4"
      >
        <section>
          <section class="bg-background text-foreground">
            <div class="mx-auto max-w-(--breakpoint-xl) px-4 py-16 sm:px-6 lg:px-8">
              <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
                <div class="lg:col-span-2 lg:py-12">
                  <p class="max-w-xl text-lg">
                    Please feel free to get in touch with me by filling out the
                    form here.
                  </p>
                </div>

                <div
                  class="rounded-lg bg-background p-8 shadow-lg lg:col-span-3 lg:p-12"
                >
                  <ContactForm
                    post="about"
                    containerClass="flex flex-col gap-5"
                    buttonText="Connect"
                  >
                    <Input
                      placeholder="Email"
                      type="email"
                      name="email"
                      required
                    />
                    <Textarea
                      name="message"
                      required
                      placeholder="Type your message here."
                    />
                  </ContactForm>
                </div>
              </div>
            </div>
          </section>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
