---
import { Button } from "./ui/button";

interface Props {
  post: string;
  buttonText: string;
  containerClass?: string
  doneText?: string
}

const { post, buttonText, containerClass, doneText } = Astro.props;
---

<form method="POST" id="form">
  <input
    type="hidden"
    name="access_key"
    value="d3898205-e968-4632-8b89-bbf081b5ef63"
  />
  <input
    type="hidden"
    name="post"
    value={post}
  />
  <div class={containerClass}>
    <slot />
    <Button className="w-fit" type="submit">{buttonText}</Button>
  </div>
  <small id="result" class="h-14 ml-3 text-xs"></small>
</form>

<script is:inline define:vars={{ doneText: doneText }}>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Please wait...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = doneText || json.message;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
