---
const today = new Date();
---

<footer class="flex items-center justify-center flex-col">
  <p class="font-bold">TIER ONE RUN CLUB</p>
  <p class="max-w-prose text-sm">
    Discover the joy of running, connect with others, and embark on your own
    journey of growth and discovery.
  </p>
</footer>
<style>
  footer {
    padding: 2em 1em 2em 1em;
    background: rgb(var(--black));
    color: rgb(var(--white));
    text-align: center;
  }
</style>
