---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE } from "../consts";
import { Sheet } from "./Sheet";
import { Image } from "astro:assets";

type Props = {
  transparent?: boolean;
};

const { transparent } = Astro.props;

import logo from "../images/logo.png";
---

<header class:list={[transparent ? "bg-transparent" : "bg-white"]}>
  <nav>
    <h2 class="uppercase font-[900]">
      <a href="/" class="flex items-center gap-2 text-lg md:text-2xl">
        <Image
          loading={"eager"}
          class="h-auto w-[70px]"
          src={logo}
          format="webp"
          alt=""
          quality={80}
          widths={[390]}
          sizes="390px"
        />
        {SITE_TITLE}
      </a>
    </h2>
    <div>
      <Sheet client:idle>
        <Icon
          slot="trigger"
          name="radix-icons:hamburger-menu"
          class="font-bold"
        />
        <div
          slot="description"
          class="flex flex-col gap-5 font-bold text-black text-lg mt-5 w-full justify-center items-center"
        >
          <HeaderLink
            class="text-black border-b-4 border-transparent !no-underline transition-all"
            activeClass="!border-[hsl(var(--accent))]"
            href="/">Home</HeaderLink
          >
          <HeaderLink
            class="text-black border-b-4 border-transparent !no-underline transition-all"
            activeClass="!border-[hsl(var(--accent))]"
            href="/blog">Blog</HeaderLink
          >
          <HeaderLink
            class="text-black border-b-4 border-transparent !no-underline transition-all"
            activeClass="!border-[hsl(var(--accent))]"
            href="/about">About</HeaderLink
          >
        </div>
      </Sheet>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: hsl(var(--accent));
  }
</style>
