---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & { activeClass?: string };

const { href, class: className, activeClass, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[className, isActive ? "text-[var(--accent)]" : "text-foreground", "uppercase"]} {...props}>
	<slot />
</a>

